<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneakers App</title>
  </head>
  <body>
    <h1>Welcome to the Sneakers App!</h1>
    <p>An app for collecting your favorite shoes. Feel free to add any sneakers or shoes that you like in this collection app.</p>
    <!-- views/index.ejs -->
    <a href="/shoes">Browse Sneakers</a>
  </body>
</html>
