<!-- views/shoes/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sneaker Index</title>
  </head>
  <body>
    <h1>All Sneakers</h1>
    <!-- views/shoes/index.ejs -->
    <a href="/shoes/new">Add New Shoes</a>
    <ul>
        <% shoes.forEach(shoe => { %>
          <li><a href="/shoes/<%= shoe._id %>"><%= shoe.name %></a></li>
        <% }); %>
    </ul>
  </body>
</html>
